extends layout

block content
  div.preloader
    img(src="loader.gif" alt="preloader")


  - var n = 0
  - var i = 0 
  - var k = 0

  #bg-overlay

  #title 
    p= searchTerm

  //- p= TwitterData.statuses[0].user.name
  ul
    while n < 8
      a(href= InstagramData[n++].link target="_blank")
        li.bubble
          div.innerbubble
          
          div.outerbubble
            img(src= InstagramData[i++].images.low_resolution.url)

                
  form(method="post", action="/" id="target").form
    input(type="text", name="searchquery" class="search")
    input(type="submit" class="button")

  script(type='text/javascript').
    $('#target').submit(function( event ) {
      $('.preloader').css('opacity', '1');
    });

